<tr>
    <td>
      <%= link_to band_url(band), method: :get do%>
      <%= band.name %>
      <% end %>
    </td>
    <td>
      <%= link_to edit_band_url(band), method: :get, class: 'btn btn-primary' do%>
       <%= icon('pencil-square-o') %>
      <% end %>
  </td>
    <td>
      <%= link_to band_url(band), method: :delete, class: 'btn btn-danger' do%>
       <%= icon('trash-o') %>
      <% end %>
    </td>
</tr>
